
  <div class="ui center aligned container segment">
    <h1 class="ui teal header">HUA</h1>
    <a href="<%= login_path %>">
      <div class="ui teal huge button">Get Started <i class="right arrow icon"></i></div>
    </a>
    <a href="<%= posts_path %>">
      <div class="ui pink huge button">Gallery </div>
    </a>

  </div>
