<div class="ui center aligned text container">
  <h1>Gallery</h1>
</div>

<div class="ui divider"></div>


  <div class="ui relaxed stackable grid container">
    <div class="doubling four column row">
      <% @posts.each do |p| %>
        <div class="column">

          <div class="ui centered card">
            <div class="ui image">
              <%= link_to cl_image_tag(p.image, :width=>400, :height=>300, :crop=>"scale", :secure=>true), post_path( p )%>
            </div>

            <div class="content">
              <h3>Created by <%= link_to p.user.name, user_path(p.user) %></h3>
            </div>
          </div>

          <div class="ui container"></div>

        </div>
      <% end %>
    </div>
  </div>





<!-- <ul style="list-style: none;">
  <% @posts.each do |p| %>
    <div class="ui container">
      <li>

          <div class="ui card centered">
            <div class="ui medium rounded image">
              <%= link_to cl_image_tag(p.image, :width=>400, :height=>300, :crop=>"scale", :secure=>true), post_path( p )%>
            </div>

            <div class="content">
              <h3>Created by <%= p.user.name %></h3>
            </div>
          </div>
          <div class="container"></div>

      </li>
    </div>
  <% end %>
</ul> -->
