<h2>Gallery</h2>

<ul>
  <% @posts.each do |p| %>
    <li>
      <%= link_to cl_image_tag(p.image, :width=>400, :height=>300, :crop=>"scale", :secure=>true), post_path( p )%>
    </li>
  <% end %>
</ul>
