/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
  *= require_tree .
 *= require_self
 */

@import "materialize";

  html, body, .my-wrapper {
    height: 100%;
    width: 100%;
  }

  body {
    background-color: #384047;
  }

  canvas {
    background-color: #fff;
    display: block;
    border-radius: 5px;
    padding: 0;
    margin: 0 auto;
    z-index: -1000;
  }

  .hero {
    color: #fafafa;
    padding-top: 190px;
    background: linear-gradient(50deg, HSLA(205, 62%, 44%, 1), #F62D51);
    width: 100%;
    height: 100%;
  }
