/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
  *= require_tree .
 *= require_self
 */

@import "semantic-ui";
@import url('https://fonts.googleapis.com/css?family=Pacifico');


  html, body, .my-wrapper {
    height: 100%;
    width: 100%;
  }


  body {
    background-image: url('bg.png');
    background-color: #FFE6E6;
    background-repeat: repeat;
    -webkit-animation: 10s linear 0s normal none infinite animate;
  	-moz-animation: 10s linear 0s normal none infinite animate;
  	-ms-animation: 10s linear 0s normal none infinite animate;
  	-o-animation: 10s linear 0s normal none infinite animate;
  	animation: 10s linear 0s normal none infinite animate;
  }

  @-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
  }

  @-moz-keyframes animate {
  	from {background-position:0 0;}
  	to {background-position: 500px 0;}
  }

  @-ms-keyframes animate {
  	from {background-position:0 0;}
  	to {background-position: 500px 0;}
  }

  @-o-keyframes animate {
  	from {background-position:0 0;}
  	to {background-position: 500px 0;}
  }

  @keyframes animate {
  	from {background-position:0 0;}
  	to {background-position: 500px 0;}
  }

  canvas {
    background-color: #fff;
    display: block;
    border-radius: 5px;
    padding: 0;
    margin: 50px auto;
    z-index: -1000;
  }
