// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.holder {
  height: 400px
}

.holder .middle {
  height: 100%
}

#hua {
  font-size: 80px;
  font-family: 'Pacifico', cursive;
}
